.custom-template-hero {
  padding-bottom: 24px;

  img {
    display: block;
    width: 100%;
    height: 120px;
    object-fit: cover;
    object-position: center;

    @media (min-width: breakpoint-min(md)) {
      height: 240px;
    }
  }
}
