#header {
  display: block;
  position: relative;
  border-bottom: 1px solid $medium-grey3;
  height: 113px;

  @media (min-width: breakpoint-min(md)) {
    min-height: 128px;
  }

  @media (min-width: breakpoint-min(lg)) {
    min-height: 183px;
  }

  .ucla.campus.header {
    width: calc(100% - 48px);
  }

  .header-logo {
    display: block;
    background: $ucla-blue;
    padding: 12px 24px;
    max-height: 48px;

    @media (min-width: breakpoint-min(lg)) {
      padding: 12px;
    }

    &__wrap {
      display: block;
      max-width: 1176px;
      margin: 0 auto;

      img {
        display: block;
        height: 24px;
        position: relative;
      }
    }
  }

  .site-name {
    margin-top: 28px;
    width: fit-content;

    a {
      color: $black;
      text-decoration: none;
      font-weight: bold;
      font-size: 24px;

      @media (min-width: breakpoint-min(md)) {
        font-size: 36px;
      }

      &:hover {
        background: none;
      }
    }
  }

  .nav-wrap {
    position: relative;
    top: 0;

    @media (min-width: breakpoint-min(lg)) {
      right: 0;
      position: absolute;
      z-index: 10;
    }

    #primary-ham {
      @media (min-width: breakpoint-min(lg)) {
        display: none;
      }
    }
  }
}
